#root {
  max-width: 1920px;
  margin: 0 auto;
}

.App {
  font-family: "Roboto", sans-serif;
  width: 500px;
  height: 100vh;
  background-color: rgb(28, 32, 36);
  line-height: 1.5;
}

.card {
  width: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

select {
  width: 100%;
  color: black;
}

.flexButton {
  display: flex;
}

/* button back */
.frontPageBottom{
  
}
